
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Cutive+Mono');


body {
  background-color: #ffd1dc;
  overflow: hidden;
}
    
div {
    height: 100%;
    color: #090909;
 }
        
	h1 {
        margin: 50px;
        position: relative;
		    text-decoration: none;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: 1;
        font-family: Major Mono Display, sans-serif;
        letter-spacing: 3px;
        width: 100%;
        font-size: 40px
        
	}

h3, h5 {
  position: relative;
  text-decoration: none;
  font-weight: 10;
  font-family: Cutive Mono;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 70px;
  width: 100%;
}

button {
  position: relative;
  left: 50%;
  font-family: monospace, sans-serif;
}